<% if @posts.any? %>
	<% @posts.each do |post| %>

		<% if post.image.present? %>
			<%= image_tag post.image.url(:thumb), class: 'uploaded-pic' %><br>
		<% end %>
		<%= post.title %><br>
		<%= post.description %>
	<% end %>
<% else %>
	<h1>No posts yet</h1>
<% end %>
<%= link_to 'New post', new_post_path%>