<% unless user_signed_in? %>
	<div class="jumbotron">
	  <div class="container">
	    <h1>Welcome to Painted's Mock Instagram</h1>
	    <p>This is a simple mock Instagram type site created by Will Allen from Painted Ltd. in London, UK.  If you are interested in work by Painted Ltd. please get in touch with us.</p>
	    <p>
	    	<%= link_to 'Sign Up »', new_user_registration_path, class: "btn btn-primary btn-lg" %>
	    </p>
	  </div>
	</div>
<% end %>
<div class='container'>
	<% if @posts.any? %>
		<% @posts.in_groups_of(3, false).each do |post_triplet| %>
			<div class='row'>
				<%= render post_triplet %>
			</div>
		<% end %>
	<% else %>
		<h1>No posts yet</h1>
	<% end %>
<%= link_to 'New post', new_post_path, class: "btn btn-primary btn-lg"%>
</div>